.footer {
<<<<<<< HEAD
    background-color: aquamarine;
=======
    background-color: #f8f9fa;
>>>>>>> 253e6d00c75adb2957d61248bc3afcf75c728236
    border-top: 1px solid #e7e7e7;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}