.introduce {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
=======
}

.introduce p{
    margin-top: 4%;
    margin-bottom: 5%;
}

.introduce h2{
    margin-bottom: 1%;
>>>>>>> 253e6d00c75adb2957d61248bc3afcf75c728236
}